.App {
  text-align: center;
  max-width: 1200px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.todolist-title {
  font-size: 24px;
  font-weight: bold;
}

.todo-box {
  display: flex;
  flex-wrap: wrap;
}

.content-box {
  width: 100px;
  height: 100px;
  display: flex;
  padding: 1.5rem;
  margin: 1.5rem;
  border: 1px green solid;
  border-radius: 10%;
}

.content {

}